
--extra-index-url https://download.pytorch.org/whl/cu118

torch>=2.0.0
torchvision
torchaudio
typing-extensions==4.12.2
basicsr
einops
timm
addict
numpy<2.0
opencv-python
Pillow
scikit-image
scipy
astropy
astroalign
reproject
tqdm
pyyaml
tensorboard
nvitop
pandas
matplotlib
lmdb
yapf
